<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Mapster.Example.Properties.Settings.ExampleDataConnectionString"
      connectionString="Data Source=|DataDirectory|\App_Data\ExampleData.sdf"
      providerName="Microsoft.SqlServerCe.Client.4.0" />
    <add name="Mapster.Example.Properties.Settings.LocalDataConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=MapsterExampleData;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>